.nav{
    padding: 10px ; 
    padding-top: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
     font-weight: bold;
    
}
.nav:hover{
    color: orange;
}

.photo{
    background-image: url(https://img.freepik.com/free-photo/famous-eiffel-tower-paris-with-gorgeous-colors_268835-830.jpg?t=st=1725818502~exp=1725822102~hmac=054f63d42cd10ae27320009e4940863d807752c5bbe5b752d08b4ee8e636b9bc&w=996);
    width: 100%;
    height: 790px;
    background-repeat: no-repeat;
    background-size: cover;
}










.footer{
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: medium;
}
.link{
    text-align: center;
}

