.img{
    height: 200px;
    width: 1500px;
    padding: 3px;
    
    
}
.hase{
    margin-left: 100px;
    color:#fbd815;
}
.para{
    padding: 3px;
    margin-left: 100px;
    font-size: 19px;
    font-weight: 100;
 
}
.hases{
    margin-left: 100px;
    color:#fbd815;
}
.paras-1{
    margin-left: 100px;
    font-size: 19px;
    font-weight: 100;
}
.hase-1{
    margin-left: 100px;
    color:#fbd815;
    font-size: 18px;
}
.para-1{
    margin-left: 100px;
    font-size: 19px;
    font-weight: 100;
}
.hase-2{
    margin-left: 100px;
    color:#fbd815;
    font-size: 18px;
}
.para-2{
    margin-left: 100px;
    font-size: 19px;
    font-weight: 100;
}
.img-1{
    margin-left: 900px;
    margin-top: -300px;
}
.hase-3{
    margin-left: 100px;
    color:#fbd815;
    font-size: 18px;
}
.para-3{
    margin-left: 100px;
    font-size: 19px;
    font-weight: 100;
}

.img-2{
    margin-left: 900px;
    margin-top: -300px;
}
.hase-4{
    margin-left: 100px;
    color:#fbd815;
    font-size: 18px;
}
.para-4{
    margin-left: 100px;
    font-size: 19px;
    font-weight: 100;
}
.hase-5{
    margin-left: 100px;
    color:#fbd815;
    font-size: 18px;
}
.para-5{
    margin-left: 100px;
    font-size: 19px;
    font-weight: 100;
}
.img-3{
    margin-left: 900px;
    margin-top: -1900px;
}